{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="page-header">
<h1>Recursos Educativos Abiertos</h1>
</div>


<div class="row">

{% for item in items %}

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/repository/png/{{ item.image }}">
      <div class="caption">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
        <p><a href="/static/repository/pdf/{{ item.url }}" class="btn btn-primary" role="button">Lo quiero</a></p>
      </div>
    </div>
  </div>

{% endfor %}

</div> <!-- /row -->

{% endblock %}
