body {
    font-family: Hack, monospace;
    height: 100%;
    background-color: #fff;
    color: #333;
    text-align: center;
}

.jumbotron {
    background-color: #333;
    text-align: left;
    color: #fff;
    background-image: url("/static/landing/jpg/chalkboard.jpg");
    padding: 5%;
}

.lead {
    padding-top: 5%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    width: 100%;
    line-height:32px;
    background-color: #56bf56;
    border-color: #008000;
}

.reinforcement-statement {
    padding: 2% 10%;
    color: #666;
    margin-bottom: 5%;
}

.benefits {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.benefit {
    border-right: 1px solid #ccc;
    padding: 5%;
}

.social-proof {
#    background-color: #ccc;
    color: #666;
}

.social-proof h3 {
    padding: 5%;
    padding-bottom: 1%;
}

.social-proof .proof {
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: justify;
    text-justify: inter-word;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #666;
}
.navbar .navbar-header .navbar-toggle {
    border: 1px solid #666;
}
