{% extends "base.html" %} 
{% load bootstrap3 %}
{% block content %}
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-8">
          <h1>Personas mejorando la educación</h1>
          <p class="lead">Crea recursos didacticos para la docencia de forma colaborativa y sencilla en minutos.</p>
        </div>
        <div class="col-md-4">
	  <form action="{% url 'landing:subscribe' %}" method="post">
	    {% csrf_token %}
	    {% bootstrap_form form %}
	    {% buttons %}
	    <button type="submit" class="btn btn-primary">Quiero crear mis propios recursos</button>
	    {% endbuttons %}
	  </form>
        </div>
      </div>
    </div> <!-- /jumbotron -->
    
    <div class="reinforcement-statement">
      <h3>Recursos libres para una educación libre</h3>
      <p>Un espacio único para crear recursos educativos libres de forma colaborativa. Podrás disponer de todo el material necesario para tus clases en cuestión de minutos. Distribuye el  material con total libertad, siempre. Tus alumnos te lo agradecerán.</p>
    </div>
    
    <div class="benefits">
      <div class="row">
        <div class="col-md-4 benefit">
	  <img src="/static/landing/png/benefit-1.png" />
          <h4>Para todo lo que constuyas</h4>
          <p>Aloja y administra todo el material. Puedes manterner tu trabajo en privado o compartirlo con el mundo.</p>
        </div>
        <div class="col-md-4 benefit">
	  <img src="/static/landing/png/benefit-2.png" />
          <h4>Una mejor manera de trabajar</h4>
          <p>Ayuda a los docentes simplificando la forma en la que crean y distribuyen su material.</p>
	</div>
        <div class="col-md-4 benefit">
	  <img src="/static/landing/png/benefit-3.png" />
          <h4>La mayor comunidad</h4>
          <p>Encontraras una gran cantidad de material. Utilizalo o inspirate para crear el tuyo propio.</p>
        </div>
      </div>
    </div>
    
    <div class="social-proof">
      <h3>¿Quién usa Recursos Educativos?</h3>
      <div class="row">
	<div class="proof col-md-4">
	<h4>Estudiantes</h4>
	<p>Crear tu propio material de apoyo en tus estudios. Mejora tu rendimiento escolar.</p>
	</div>
	<div class="proof col-md-4">
	<h4>Padres de Alumnos</h4>
	<p>Ayuda a tus hijos en su educación. Involucrate en la educación de tus hijos.</p>
	</div>
	<div class="proof col-md-4">
	<h4>Centros Educativos</h4>
	<p>Gestiona todo el material que necesitas en tus aulas. Promueve el intercambio transparente de recursos educativos.</p>
	</div>
      </div>
    </div>
{% endblock %} 
