{% extends "base.html" %}
{% block content %}
<div>
<p>Gracias por subscribirte {{ subscriber.email }}</p>
<p>En breve nos pondremos en contacto contigo y podrás empezar a crear tus propios materiales.</p>
{% endblock %}
