{% extends "base.html" %}

{% load bootstrap3 %}

{% block head_title %}Welcome{% endblock %}

{% block content %}
<div class="container">
      <h3>Perfil</h3>
      <ul class="list-unstyled">
        <li><p class="picture-frame">
          {% if request.user.profile.profile_image_url %}<img alt="" src="{{ request.user.profile.profile_image_url }}" style="width: 40px; height: 40px">
          {% else %}La foto no esta disponible todavia.{% endif %}
        </p></li>
        <li>Nombre: <strong>{{user.first_name}}</strong></li>
        <li>Apellido: <strong>{{user.last_name}}</strong></li>
        <li>Correo: <strong>{{user.email}}</strong></li>
      </ul>
</div>  <!-- container -->
{% endblock %}
