{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifica tu direccion de correo" %}{% endblock %}

{% block content %}

    <h1>{% trans "Verifica tu direccion de correo" %}</h1>

    <p>{% blocktrans %}Te hemos enviado un correo para verificar tu direccion. Por favor contacta con nosotros si no lo recibes en unos minutos.{% endblocktrans %}</p>

{% endblock %}
