{% load bootstrap3 %}
{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Recursos Educativos Libres">
  <meta name="author" content="">
  <link rel="icon" href="{% static "landing/ico/favicon.ico" %}">

  <title>Recursos Educativos</title>

  <!-- Bootstrap core CSS -->
  {% bootstrap_css %}

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{% static "landing/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">

  <!-- Custom styles for this template -->
  <link href="{% static "landing/css/landing.css" %}" rel="stylesheet">

  <script src="{% static "landing/js/ie-emulation-modes-warning.js" %}"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Recursos Educativos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/repository">Explora</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li><a href="/account/profile">
              {% if request.user.first_name or request.user.last_name %}
              {{ request.user.first_name }} {{ request.user.last_name }}
              {% else %}
              {{ request.user.username }}
              {% endif %}
          </a></li>
          <li><a id="logout" href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>

          {% else %}
          <li><a id="dropbox_login" href="/accounts/dropbox_oauth2/login/"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

{% block content%}{% endblock%}

    <hr/>

    <footer>
      <p>Copyright &copy; 2016 Fundación Legado Educativo</p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "landing/js/jquery.min.js" %}"><\/script>')</script>
    {% bootstrap_javascript %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "landing/js/ie10-viewport-bug-workaround.js" %}"></script>

</body>
</html>
